<!DOCTYPE html>
<html>
<head>
  <title>Madmass</title>
  <%= stylesheet_link_tag    "madmass/application" %>
  <%= javascript_include_tag "madmass/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
